* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden; /* This stops the page from "wiggling" or scrolling */
}

.screen {
  display: none; /* Hidden by default */
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* Centering content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Only the active screen gets shown */
.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Specific background for your Home Screen */
#preScreen {
  background-color: rgb(218, 247, 0);
}
